.button {
    -fx-background-color : TRANSPARENT;
}
.button:hover{
    -fx-background-color : #008EB0;
}
.button:pressed {
    -fx-background-color : #008EB0;
}

.button:focused {
    -fx-background-color : GRAY;
}

.expand-button {
    -fx-background-color : LIGHTGRAY;
}

.expand-button:hover {
    -fx-background-color: GRAY;
}