.component-button {
    -fx-background-color : TRANSPARENT;
    -fx-background-radius: 10;
}
.component-button:hover{
    -fx-background-color : #008EB0;
}
.component-button:pressed {
    -fx-background-color : #008EB0;
}

.component-button:focused {
    -fx-background-color : GRAY;
}

.expand-button {
    -fx-background-color : LIGHTGRAY;
    -fx-background-radius : 5;
}

.expand-button:hover {
    -fx-background-color: GRAY;
}

.expand-button:pressed {
    -fx-background-color: GRAY;
}

.properties-menu {
    -fx-background-color: LIGHTGRAY;
    -fx-background-image: url(/resources/icon.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center bottom, center;
    -fx-background-size: 200, 200;
    -fx-background-radius: 10;
}

.apply-button {
}